@font-face {
  font-family: Lexend;
  src: url(./Assets/fonts/lexend/Lexend-VariableFont_wght.ttf);
}

.fluid-container{
  overflow-x: hidden;
  min-height: 100vh;
  background-image: url('./Assets/Images/bg.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
}

.aplo{
  margin-left: 2vw;
  width: 15vw;
  position: relative;
  z-index: 4;
}

.customIndent{
  width: 100%;
  justify-content: flex-end;
}

.navCustomDesign{
  color: #AEAEAE;
  font-family: Lexend;
  font-weight: bolder;
  margin: 0 3vw;
  font-size: 3vh;
  z-index: 4;
  position: relative;
}

.navCustomDesign:hover{
  color:white;
}

.z{
  position: fixed;
  z-index: 5;
  background-image: linear-gradient(#000000, rgba(19, 44, 57, 0.6));
  /* border-bottom: 1px solid rgb(48, 33, 100); */
  width: 100%;
}

.center{
  display: flex;
  justify-content: center;
}

.social-logo{
  height: 100vh;
  align-items: center;
}

#sociologo{
  width: 30vw;
  
}

.blur{
  background: rgba(7, 10, 26, 0.5);
  padding: 8vh 2vh;
  backdrop-filter: blur(5px);
  border-radius: 5vh;
}

.newContainer{
  min-height: 100vh;
  background: #1A3543;
}

.eventimg{
  width: 20vw;
}

.up{
  padding-top: 20vh;
}

.cen{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.etitle{
  color: #f0f0f0;
  font-family: Lexend;
  font-size: 3vh;
}

.innertitle{
  color:white;
  font-size: 2.5vh;
}

#loading{
  display: none;
}